<nav id="navbar" class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container text-xs-center">
    <a class="navbar-brand pull-sm-left" href="#">Daniel Riley</a>
    <ul class="nav navbar-nav nav-tabs pull-sm-right" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#header">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#info">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#signup">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#signup">Resume</a>
      </li>
    </ul>
  </div>
</nav>
