<nav id="navbar" class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container text-xs-center">
    <a class="navbar-brand pull-sm-left" href="#">Daniel Riley</a>
    <ul class="nav navbar-nav nav-pills pull-sm-right" role="tablist">
      <li class="nav-item">
        <a id="nav-top" class="nav-link" href="#top">Home</a>
      </li>
      <li class="nav-item">
        <a id="nav-about" class="nav-link" href="#about">About & Resume</a>
      </li>
      <li class="nav-item">
        <a id="nav-portfolio" class="nav-link" href="#portfolio">Portfolio</a>
      </li>
    </ul>
  </div>
</nav>
